server:
  port: 8082

spring:
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery: SERVICE-CAR
  application:
    name: SERVICE-CAR
  datasource:
    url: jdbc:h2:mem:carservicedb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
    hikari:
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console
